<%- include('partials/header.ejs') %>
    <main>
        <div class="container liquid-glass">
            <%# Searchbar %>
                <div class="box search">
                    <form class="clear" action="/city" method="post">
                        <input class="input" type="text" placeholder="Enter the city here..." name="city"
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    </form>
                </div>
                <%# Weather %>
                    <% if (locals.location && locals.forecast){ %>
                        <div class="current">
                            <div class="box clear left">
                                <div>
                                    <p class="clear bold">
                                        <%= location.name %>
                                    </p>
                                    <br>
                                    <img src="https:<%=forecast[0].day.condition.icon%>" height="70px" />
                                    <div style="display: flex;">
                                        <p style="font-size: 3rem;" class="clear">
                                            <%= Math.floor(forecast[0].day.maxtemp_c) %>째&numsp;
                                        </p>
                                        <p class="clear mintemp">
                                            <%= Math.floor(forecast[0].day.mintemp_c) %>째
                                        </p>
                                    </div>
                                </div>
                                <div>

                                </div>
                                <div>
                                    <p class="clear bold">
                                        <%= location.country %>
                                    </p>
                                    <p class="clear">
                                        <%= new Date(forecast[0].date).toLocaleTimeString('en-US') %>
                                    </p>
                                    <p class="clear">
                                        <%=forecast[0].day.condition.text%>
                                    </p>

                                </div>


                            </div>

                            <div class="box clear right ">
                                <p>
                                </p>
                            </div>
                        </div>
                        <%# Forecast %>
                            <div class="sevenBox">
                                <% for(let i=1; i < 8; i++) { %>
                                    <div class="sevenDays">
                                        <p class="clear bold">
                                            <%= new Date(forecast[i].date).toLocaleDateString('en-US', {
                                                weekday: 'short' }) %>
                                        </p>
                                        <img class="clear" src="https:<%=forecast[i].day.condition.icon%>"
                                            height="50px" />
                                        <div style="display: flex;">
                                            <p class="clear">
                                                <%= Math.floor(forecast[i].day.maxtemp_c) %>째&numsp;
                                            </p>
                                            <p class="clear mintemp">
                                                <%= Math.floor(forecast[i].day.mintemp_c) %>째
                                            </p>
                                        </div>
                                    </div>

                                    <% } %>
                                        <% } %>
                            </div>
        </div>
    </main>
    </body>

    </html>