<%- include('partials/header.ejs') %>
    <main>
        <div class="container liquid-glass" style="padding: 5px;">
            <%# Searchbar %>
                <div class="box search">
                    <form class="clear" action="/city" method="post">
                        <input class="input" type="text" placeholder="Enter the city here..." name="city"
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    </form>
                </div>
                <%# Weather %>
                    <% if (locals.location && locals.forecast){ %>
                        <div class="current">
                            <div class="box clear left">
                                <div class="clear" style="width: 30%; padding: 5%; align-self: center;">
                                    <p class="clear bold" style="font-size: 1.5rem; position: relative;">
                                        <%= location.name %><span style="position: absolute; left: 4rem; "><img class="
                                                clear" src="https:<%=forecast[0].day.condition.icon%>"
                                                    height="50px" /></span>

                                    </p>
                                    <p
                                        style="display:flex; font-size: 5rem; font-weight: 700; color: #474646; margin-top: 0; margin-bottom: 0;">
                                        <%= Math.floor(forecast[0].day.maxtemp_c) %><span
                                                style="font-size: 1.5rem; padding-top: 1rem;">째&numsp;</span><span
                                                style="font-size: 1.2rem; font-weight: 400; padding-top: 3.5rem;"
                                                class="mintemp">
                                                /&numsp;<%=Math.floor(forecast[0].day.mintemp_c) %>째
                                            </span>
                                    </p>
                                    <p class="clear">
                                        <%= new Date(forecast[0].date).toLocaleDateString('en-US', { weekday: 'long' })
                                            %>
                                    </p>
                                </div>
                                <div class="clear"
                                    style="width: 70%; justify-content: center; display: flex; flex-direction: column;">
                                    <p class="clear">
                                        Precipiation: <%= Math.floor(forecast[0].day.totalprecip_mm) %>%
                                    </p>
                                    <p class="clear">
                                        Humidity: <%= forecast[0].day.avghumidity %>%
                                    </p>
                                    <p class="clear">
                                        Wind: <%= forecast[0].day.maxwind_mph %> km/h
                                    </p>
                                </div>


                            </div>

                            <div class="box clear right ">
                                <p>
                                </p>
                            </div>
                        </div>
                        <%# Forecast %>
                            <div class="sevenBox">
                                <% for(let i=1; i < 8; i++) { %>
                                    <div class="sevenDays">
                                        <p class="clear bold">
                                            <%= new Date(forecast[i].date).toLocaleDateString('en-US', {
                                                weekday: 'short' }) %>
                                        </p>
                                        <img class="clear" src="https:<%=forecast[i].day.condition.icon%>"
                                            height="50px" />
                                        <div style="display: flex; padding-top: 5px;">
                                            <p class="clear">
                                                <%= Math.floor(forecast[i].day.maxtemp_c) %>째&numsp;
                                            </p>
                                            <p class="clear mintemp">
                                                /&numsp;<%= Math.floor(forecast[i].day.mintemp_c) %>째
                                            </p>
                                        </div>
                                    </div>

                                    <% } %>
                                        <% } %>
                            </div>
        </div>
    </main>
    </body>

    </html>