<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <title>WeatherWEB</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="container liquid-glass" style="padding: 5px;">
            <% if (locals.location && locals.forecast){ %>
                <%# Searchbar %>

                    <div class="box search">
                        <form class="clear" action="/city" method="post">
                            <input class="input" type="text" placeholder="<%= location.country %>" name="city"
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                        </form>
                    </div>
                    <%# Weather %>

                        <div class="current">
                            <div class="box clear left">
                                <div class="clear" style="width: 30%; padding: 5%; align-self: center;">
                                    <p class="bold" style="font-size: 1.5rem; position: relative;"
                                        onclick="temperature">
                                        <%= location.name %><span style="position: absolute; left: 7rem; "><img class="
                                                clear" src="https:<%=forecast[0].day.condition.icon%>"
                                                    height="50px" /></span>

                                    </p>
                                    <p class="maintemp">
                                        <%= Math.floor(forecast[0].day.maxtemp_c) %><span
                                                style="font-size: 1.5rem; padding-top: 1rem;">째&numsp;</span><span
                                                style="font-size: 1.2rem; font-weight: 400; padding-top: 3.5rem;"
                                                class="mintemp">
                                                /&numsp;<%=Math.floor(forecast[0].day.mintemp_c) %>째
                                            </span>
                                    </p>
                                    <p class="clear">
                                        <%= new Date(forecast[0].date).toLocaleDateString('en-US', { weekday: 'long' })
                                            %>
                                    </p>
                                </div>
                                <div class="clear"
                                    style="width: 70%; justify-content: center; display: flex; flex-direction: column;">
                                    <p>
                                        Precipiation: <%= Math.floor(forecast[0].day.totalprecip_mm) %>%
                                    </p>
                                    <p>
                                        Humidity: <%= forecast[0].day.avghumidity %>%
                                    </p>
                                    <p>
                                        Wind: <%= forecast[0].day.maxwind_mph %> km/h
                                    </p>
                                </div>
                            </div>

                            <%# Icons tab %>
                                <div class="clear right"
                                    style="display: flex; flex-direction: column; justify-content: space-evenly;">
                                    <div style="padding: 10%;">
                                        <a href="https://github.com/potuzhnyj" target="_blank"><img class="icons"
                                                alt="github_logo" src="images/icons/github.png" height="50px" /></a>
                                    </div>
                                    <div style="padding: 10%;">
                                        <a href="https://www.weatherapi.com/" target="_blank"><img class="icons"
                                                alt="weatherapi_logo" src="images/icons/weatherapi.png"
                                                height="50px" /></a>
                                    </div>
                                    <div style="padding:10%;">
                                        <a href="https://www.linkedin.com/in/ivanmosak/" target="_blank"><img
                                                class="icons" alt="linkedin_logo" src="images/icons/linkedin.png"
                                                height="50px" /></a>
                                    </div>
                                </div>
                        </div>

                        <%# Forecast %>
                            <div class="sevenBox">
                                <% for(let i=1; i < 8; i++) { %>
                                    <div class="sevenDays">
                                        <p class=" bold">
                                            <%= new Date(forecast[i].date).toLocaleDateString('en-US', {
                                                weekday: 'short' }) %>
                                        </p>
                                        <img class="clear" src="https:<%=forecast[i].day.condition.icon%>"
                                            height="50px" />
                                        <div style="display: flex; padding-top: 5px;">
                                            <p>
                                                <%= Math.floor(forecast[i].day.maxtemp_c) %>째&numsp;
                                            </p>
                                            <p class="clear mintemp">
                                                /&numsp;<%= Math.floor(forecast[i].day.mintemp_c) %>째
                                            </p>
                                        </div>
                                    </div>

                                    <% } %>
                                        <% } else{%>
                                            <%# Searchbar %>
                                                <div class="box search">
                                                    <form class="clear" action="/city" method="post">
                                                        <input class="input" type="text"
                                                            placeholder="Enter the city here..." name="city"
                                                            autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            spellcheck="false" />
                                                    </form>
                                                </div>
                                                <% } %>
                            </div>
        </div>
    </main>

</body>

</html>